<div *ngIf="imageDetails" >

  <img src="{{imageDetails.sourceFilename}}" alt="Planets" usemap="#planetmap" style="position:relative">
  <map name="planetmap">
      <div *ngFor="let img of imageDetails.hotspots"  
      [ngStyle]="{'position':'absolute','top':img.coords.split(',')[1] + 'px','left':img.coords.split(',')[0] + 'px'}">
    <area  shape="{{img.shape}}" coords="{{img.coords}}" alt="Mercury"
      data-toggle="popover" data-html="true" [attr.data-original-title]='img.markup.title'
      [attr.data-content]='img.markup.body' 
      [attr.data-placement]='img.placement || "bottom"'>
      </div>
  </map>
</div>
<div #popoverToolbarCreate style="display:none">
  <ul>
    <li>No Description exists</li>
    <li>
      <a href="./#edit" class="editLink">Create Description</a>
    </li>
  </ul>
</div>
<div #popoverToolbarEdit style="display:none">
  <a href="./#edit" class="editLink">Edit</a>
</div>

